{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/sam.css'%}">
    </head>
<body style="background-color:whitesmoke;">
    <div>
        <h1 style="text-align: center;">SCAN YOUR QRCODE</h1>
        
    </div>
    <div style="display: flex;justify-content: center;align-items: center;">
    
        

        <div>
            <img src=".\static\images\qr_img.png" alt="image">
        </div>
       
        
    </div>

    <div style="display:flex;justify-content:center;width: 100%;padding: 20px;>
        <a href=".\static\images\qr_img.png" download=".\static\images\qr_img.png"><button>DOWNLOAD QRCODE</button></a>

    </div>
    <div style="">
        <a href=""><button style="border: 2px solid black;width: 80px;">BACK</button></a>

    </div>

</body>
</html>